Basic postgres data collection code to show proof of concept (so you dont have to use pgAdmin)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import plotly_express as px

# connect and use the local postgres instance we have running in docker.
engine = create_engine('postgresql://postgres:pass@127.0.0.1:5432/duel')

df = pd.read_sql('select * from dbt_analysis.metrics order by total_reach desc', con=engine)

df.head(10)

    platform  count    avg_reach  total_reach    year      month
0     TikTok    237  5463.797468    1294920.0  2024.0  May
1  Instagram    232  5151.418103    1195129.0  2024.0  April
2  Instagram    213  5528.830986    1177641.0  2024.0  November
3  Instagram    214  5442.313084    1164655.0  2024.0  August
4     TikTok    207  5367.835749    1111142.0  2024.0  October
5     TikTok    210  5288.542857    1110594.0  2024.0  June
6     TikTok    212  5231.669811    1109114.0  2025.0  January
7  Instagram    208  5305.302885    1103503.0  2024.0  October
8  Instagram    208  5257.461538    1093552.0  2025.0  February
9  Instagram    221  4917.357466    1086736.0  2024.0  June