# Data Exploration & Analysis
- What does the dataset look like?
- What inconsistencies, anomalies, or patterns do you observe?

1) Please note Python 3.12.2 was used 
2) to run this notebook in a .venv please pip install from the requirements.txt
3) Open the source data file local to this directory: tar xvf data.tar.gz will do what you need.

In [2]:
# lets get to the data.
# Terminal > tar xvf data.tar.gz

from pathlib import Path
import pandas as pd
import json
import json_repair as jr

directory = Path('mixed')

data = pd.DataFrame


# count how many files, make sure count of json matches too. 
count_total_files = len([f for f in directory.iterdir() if f.is_file()])
count_json_files = len(list(directory.glob("*.json")))


# a counter for how many files fail to load into the dataframe incase we need to debug.
count_correctly_loaded = 0
count_cannot_load = 0


# basic data structures for the interim import
all_data = []
failed_files = [] # list: [filepath, python error]


# to check if all of the files contain the same number of fields (at root level, ignore nested cols)
file_shape = {}


def put_to_df(row, all):
    flat_data = pd.json_normalize(row, sep='_').to_dict('records')
    all.extend(flat_data)
    file_shape[str(len(*flat_data))] = file_shape.get(str(len(*flat_data)), 0) + 1
    return 1 # simply did not fail, so add 1 to a counter




for json_file in directory.glob('*.json'):
    with open(json_file) as f:
        try:
            data = json.load(f)
            count_correctly_loaded += put_to_df(data, all_data)

        # handle non JSON like files into an error list, to process a 2nd time a different way
        except json.JSONDecodeError as jde:
            failed_files.append([json_file, jde])
            continue


for f in failed_files: 
    with open(f[0]) as j:
        content = j.read().strip()
        p = jr.repair_json(content) # use the json_repair module to auto fix the json file
        d = json.loads(p)
        count_correctly_loaded += put_to_df(d, all_data)
        # we can write the corrected json out to file too, if we wanted to fix source


# effectively continue debugging potential file errors until an acceptable amount of data is inside the dataframe. display for a human below.

print(f'There are {count_total_files}, of which {count_json_files} are json. {count_correctly_loaded} ingested to dataframe succesfully, {count_cannot_load} could not load.')
print(f'The column shape of the json files: {file_shape}')


# convert all the json dict objects to a pandas dataframe for easier processing.
df = pd.DataFrame(all_data)


print(f'Double check DF length: {len(df)}')

There are 10000, of which 10000 are json. 10000 ingested to dataframe succesfully, 0 could not load.
The column shape of the json files: {'7': 10000}
Double check DF length: 10000

In [3]:
# proof that a failed json file (user_7100 below) ingested into the data objects correctly.
for x in all_data:
    if x['user_id'] == 'd088da63-558d-4008-b378-fde896abafd8':
        print(x)

df.query('user_id=="d088da63-558d-4008-b378-fde896abafd8"')

{'user_id': 'd088da63-558d-4008-b378-fde896abafd8', 'name': '???', 'email': 'invalid-email', 'instagram_handle': None, 'tiktok_handle': '#error_handle', 'joined_at': 'not-a-date', 'advocacy_programs': [{'program_id': '', 'brand': 12345, 'tasks_completed': [{'task_id': None, 'platform': 123, 'post_url': 'https://fruitful-mathematics.info/', 'likes': 125, 'comments': None, 'shares': 52, 'reach': 9055}], 'total_sales_attributed': 142.46206171850474}]}

,user_id,name,email,instagram_handle,tiktok_handle,joined_at,advocacy_programs
9778,d088da63-558d-4008-b378-fde896abafd8,???,invalid-email,None,#error_handle,not-a-date,"[{'program_id': '', 'brand': 12345, 'tasks_com..."

In [4]:
# What does the data set look like?
df.head()

# inspect and debug with more clarity with Datawrangler extension.

,user_id,name,email,instagram_handle,tiktok_handle,joined_at,advocacy_programs
0,157ad894-ea7c-4201-b3a3-04cced2b55f3,Mona Grimes,Ethelyn.Kertzmann@yahoo.com,@Amira.Russel71,@Novella87,2025-03-04T01:42:42.916Z,[{'program_id': 'da0afce8-2b3b-4c36-af7c-4df3a...
1,2bcf3b05-8362-4eb2-a04d-254ff9442365,Mary Kiehn,Rolando48@gmail.com,@Earnestine98,@Darrion40,2024-03-28T08:19:52.264Z,[{'program_id': '0a548308-13e9-45a0-9335-2a025...
2,None,???,invalid-email,None,#error_handle,2025-01-21T00:11:39.358Z,"[{'program_id': '', 'brand': 12345, 'tasks_com..."
3,None,???,invalid-email,None,#error_handle,not-a-date,"[{'program_id': '', 'brand': 12345, 'tasks_com..."
4,None,???,invalid-email,None,#error_handle,not-a-date,"[{'program_id': '', 'brand': 12345, 'tasks_com..."

# What does the dataset look like?
- We have reasonably well structured data, although many fields have poor health that will have to be handled later.
- We have 6 consistent fields, in user_id, name, email, instagram_handle, tiktok_handle.
  - Later in dbt, Lets check for rows with nonsense data, e.g. no PII, no useful keys, and should be purged. 
  - We have a nested data structure in advocacy_programs, lets unpack at least that into the main dataframe...
- Normalise to per platform for easier mapping and nicer structure?
  - At this point, migrate it out of pandas.
- Explore duplicated user ID's - get most recent?
  - Implement dbt snapshot sorted by the date stamp?

In [5]:
# lets unpack advocacy program into the parent.
unpacked = pd.json_normalize(df['advocacy_programs'].explode('advocacy_programs'))
newdf = pd.concat([df, unpacked], axis=1)


newdf

,user_id,name,email,instagram_handle,tiktok_handle,joined_at,advocacy_programs,program_id,brand,tasks_completed,total_sales_attributed
0,157ad894-ea7c-4201-b3a3-04cced2b55f3,Mona Grimes,Ethelyn.Kertzmann@yahoo.com,@Amira.Russel71,@Novella87,2025-03-04T01:42:42.916Z,[{'program_id': 'da0afce8-2b3b-4c36-af7c-4df3a...,da0afce8-2b3b-4c36-af7c-4df3a2fc605b,Collier Group,[{'task_id': '9be6cfb5-b862-45b5-aa85-14efcc16...,2450.272975
1,2bcf3b05-8362-4eb2-a04d-254ff9442365,Mary Kiehn,Rolando48@gmail.com,@Earnestine98,@Darrion40,2024-03-28T08:19:52.264Z,[{'program_id': '0a548308-13e9-45a0-9335-2a025...,0a548308-13e9-45a0-9335-2a0250866a62,Dach - Renner,[{'task_id': '0de6d760-53f0-4d35-8417-1d89ea46...,4111.778673
2,None,???,invalid-email,None,#error_handle,2025-01-21T00:11:39.358Z,"[{'program_id': '', 'brand': 12345, 'tasks_com...",,12345,"[{'task_id': None, 'platform': 123, 'post_url'...",2757.053561
3,None,???,invalid-email,None,#error_handle,not-a-date,"[{'program_id': '', 'brand': 12345, 'tasks_com...",,12345,"[{'task_id': None, 'platform': 'Instagram', 'p...",no-data
4,None,???,invalid-email,None,#error_handle,not-a-date,"[{'program_id': '', 'brand': 12345, 'tasks_com...",,12345,"[{'task_id': None, 'platform': 'Facebook', 'po...",no-data
...,...,...,...,...,...,...,...,...,...,...,...
9995,None,???,invalid-email,None,#error_handle,not-a-date,[{'program_id': 'e12b3c85-5ce0-4873-b5ec-cad2f...,e12b3c85-5ce0-4873-b5ec-cad2f54c85d3,12345,"[{'task_id': None, 'platform': 'Facebook', 'po...",no-data
9996,None,???,Carlie76@hotmail.com,None,#error_handle,not-a-date,[{'program_id': '4ff9cd0f-530a-4391-8f8f-55208...,4ff9cd0f-530a-4391-8f8f-5520834d8f62,12345,"[{'task_id': None, 'platform': 'Instagram', 'p...",no-data
9997,None,???,Brenna.Schulist@gmail.com,None,#error_handle,not-a-date,"[{'program_id': '', 'brand': 12345, 'tasks_com...",,12345,[{'task_id': '663c1e62-ca6c-435c-8f9f-1f071230...,no-data
9998,None,???,invalid-email,None,#error_handle,not-a-date,[{'program_id': 'a2a8be3c-af87-4b8a-a865-7c508...,a2a8be3c-af87-4b8a-a865-7c508dbfc8ba,12345,"[{'task_id': None, 'platform': 123, 'post_url'...",no-data
9999,None,???,Jordane.Murphy-Hoeger@yahoo.com,@Claudia_Bednar28,#error_handle,not-a-date,[{'program_id': '83e7f24f-19d7-4f30-8cfe-3f2f7...,83e7f24f-19d7-4f30-8cfe-3f2f7dfa88e6,12345,"[{'task_id': None, 'platform': 'TikTok', 'post...",2469.841472

- create a docker db for uploading to : postgres?
- unpack tasks completed into a seperate table with userid
- clean the data up
- implement the dbt process - connect to postgres
- sort the dockerisation process out for easy reproduction
- Airflow task
    - Read the files
    - tidy them
    - upload to postgres
    - run any dbt packages
    - create a simple export file from the database

In [ ]:
# Upload the data somewhere so we can use it in dbt-core: 

from sqlalchemy import create_engine

# connect and use the local postgres instance we have running in docker.
engine = create_engine('postgresql://postgres:pass@127.0.0.1:5432/duel')

newdf['tiktok_handle'].astype(str).to_sql('source', engine, if_exists='replace', index=False, method='multi', schema='raw')
# df.astype(str).to_sql('raw_ambassadors', engine, if_exists='replace', index=True, method='multi', schema='raw')

10000

# Consider this stage done. data has been ingested and viewed at a basic level.

In [ ]:
# lets capture some rows that probably should be excluded.
#  e.g. if there's no handle information, it might not be the most useful data - but we can still keep it incase there are some insights inside.


# missing_handles = newdf.query('user_id != user_id and email == "invalid-email" and instagram_handle != instagram_handle and tiktok_handle == "#error_handle"')

# cleaned = newdf.drop(missing_handles.index)
# cleaned

In [9]:
df

,user_id,name,email,instagram_handle,tiktok_handle,joined_at,advocacy_programs
0,157ad894-ea7c-4201-b3a3-04cced2b55f3,Mona Grimes,Ethelyn.Kertzmann@yahoo.com,@Amira.Russel71,@Novella87,2025-03-04T01:42:42.916Z,[{'program_id': 'da0afce8-2b3b-4c36-af7c-4df3a...
1,2bcf3b05-8362-4eb2-a04d-254ff9442365,Mary Kiehn,Rolando48@gmail.com,@Earnestine98,@Darrion40,2024-03-28T08:19:52.264Z,[{'program_id': '0a548308-13e9-45a0-9335-2a025...
2,None,???,invalid-email,None,#error_handle,2025-01-21T00:11:39.358Z,"[{'program_id': '', 'brand': 12345, 'tasks_com..."
3,None,???,invalid-email,None,#error_handle,not-a-date,"[{'program_id': '', 'brand': 12345, 'tasks_com..."
4,None,???,invalid-email,None,#error_handle,not-a-date,"[{'program_id': '', 'brand': 12345, 'tasks_com..."
...,...,...,...,...,...,...,...
9995,None,???,invalid-email,None,#error_handle,not-a-date,[{'program_id': 'e12b3c85-5ce0-4873-b5ec-cad2f...
9996,None,???,Carlie76@hotmail.com,None,#error_handle,not-a-date,[{'program_id': '4ff9cd0f-530a-4391-8f8f-55208...
9997,None,???,Brenna.Schulist@gmail.com,None,#error_handle,not-a-date,"[{'program_id': '', 'brand': 12345, 'tasks_com..."
9998,None,???,invalid-email,None,#error_handle,not-a-date,[{'program_id': 'a2a8be3c-af87-4b8a-a865-7c508...
9999,None,???,Jordane.Murphy-Hoeger@yahoo.com,@Claudia_Bednar28,#error_handle,not-a-date,[{'program_id': '83e7f24f-19d7-4f30-8cfe-3f2f7...